* {
  padding: 0px;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  overflow: hidden;
}

.div_container {
  display: flex;
  background-color: #fff;
  width: 100dvw;
  height: 100dvh;
  animation: animation .3s;
}

.section_right {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 200px;
  height: 100dvh;
  align-items: center;
}

.search_bar {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  margin: 10px 5px;
  padding: 5px 2px;
  background-color: transparent;
  border: 3px solid #ddd;
  border-radius: 4px;
}

.icon_element {
  margin: auto;
}

.search_input {
    padding: 2px 3px;
    background-color: transparent;
    width: 150px;
    height: 100%;
    border: none;
}
.search_input:focus{
    outline: none;
}


.button_container {
    width: 90%;
    display: flex;
    justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 17px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 12px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(42px);
  -ms-transform: translateX(42px);
  transform: translateX(42px);
}
.buttons_container_mayor{
    display:flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50px;
}

.container_text{
    cursor: pointer;
    line-height: 50px;
    border: 2px solid #ddd;
    text-align: center;
    color: #000;
    display: inline-block;
    height: 100%;
    background-color: transparent;
    border-radius: 5px;
    width: 125px;
}

.icon_i{
    margin: 10px;
    padding: 10px;
}

.desplegated_div{
  flex-grow: 1;
  animation: animation .5s linear;
}

/* Tecnologias */
.technologies{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-grow: 1;
  background-color: #000;
}

.menu{
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li{
  position: absolute;
  left: 0;
  list-style-type: none;
  transform-origin: 200px;
  transition:0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translate(200px);
  opacity: 0;
}
.menu.active li:hover{
  transform: rotate(calc(360deg / 7 * var(--i))) scale(1.7);
}

.menu.active li{
  transform: rotate(calc(360deg / 7 * var(--i))) scale(1.5);
  opacity: 1;
}
.menu.active li.selected{
  transform: rotate(calc(360deg / 7 * var(--i))) scale(1.7);
}

.menu li a{
  font-size: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  transform: rotate(calc(360deg / -7 * var(--i)));
}

.toggle{
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 50%;
  cursor:pointer;
  box-shadow: 0 0 0 2px #000;
  transition: 0.5s;

}

.toggle:hover{
  transform: rotate(360deg) scale(2);
}

.menu.active .toggle{
  transform: rotate(360deg);
  width: 500px;
  height: 500px;
}
li.selected{
  transform: scale(2);
}

/* About me styles */

.main_desplegated_content *{
  transition: all .5s linear;
}

.about_me{
  display: flex;
  flex-direction: column;
  width: 85%;
}
.about_me * a{
  text-decoration:none;
  color: #000;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.main_bar{
  justify-content: space-around;
  display: flex;
  width: 100%;
  flex-direction: row;
  list-style: none;
  margin: 15px;
}
.main_bar li button{
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
}

.secondary_bar li button{
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
}

.desplegated_bar{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
}
.secondary_bar{
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.main_desplegated_content{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.main_desplegated_content h1{
  animation: shadower .3s linear;
}
.desplegated_container:first-child{
  justify-content: end;
}
.desplegated_container:nth-child(2){
  justify-content: start;
}
.desplegated_container:nth-child(3){
  justify-content: center;
}

.desplegated_container{
  align-items: center;
  display: flex;
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
}
.desplegated_container *{
  margin:10px;
}
.desplegated_container img{
  border-radius: 50%;
}
.Dreams{
  display: flex;
  text-align: center;
}
.Dreams div{
  margin:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: animation .3s linear;

}
.Actividades{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: animation .3s linear;
}
.Hobbies{
  width: 100%;
  height: 100%;
  display: flex;
  animation: animation .3s linear;
}
.section_activated{
  transition: all .3s;
  background-color: #000;
  color: #fff;
}
.desplegated_container img{
  width: 300px;
}

.upper_container img{
  width: 30%;
  text-align: center;
}

.imagen_about{
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

/*Studies Styles*/

.studies{
  width: 80%;
  margin:20px;
  display: grid;
  grid-template-rows: repeat(3, minmax(50px, 50%));
}


.studies_container{
  background-color: #ddd;
  display: flex;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
}

.studies_1{
  grid-column: 1/span 2;
}
.studies_text_container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}



.home_exposer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
}

.home_exposer h1{
  font-size:100pt;
}

.home_container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profile_picture{
  border-radius: 100%;
  height: 60vh;
}
.icon_wrapper{
  width: 30%;
}

.icon_wrapper h3{
  font-size: 30pt;
}

.icon_wrapper_2{
  display: flex;
  flex-wrap: wrap;
  gap: 10pt;
  font-size: 30pt;
}



/* Experience */

.experience{
  display: flex;
  width: 80%;
}

.experience_exposer{
  align-items: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.experience_exposer ul{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.experience_exposer ul li{
  list-style: none;
}
.experience_exposer ul li button{
  border: none;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
}
.activated{
  transition: all .3s;
  color: white;
  background-color: black;
}

.main_container_proyect{
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.exposer_left{
  display: flex;
  max-width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  animation: horizonal_movement .3s linear;

}
.exposer_right{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: horizonal_movement .3s linear;

}
select{
  background-color:#888;
  color: #000;
  padding: 10px;
  max-width: 300px;
  margin:10px;
  border-radius: 10px 0 0 10px;
}

option{
  color: #000;
  background-color: #aaa;
  padding: 10px;
  transition: all 0.4s;
}


.proyect_redirecter{
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  background-color: #aaa;
}

.proyect_redirecter a{
  text-decoration: none;
  color: #000;
}

.imagen_proyecto{
  width: 100%;
}

/* Functionality  */

.menu_deployer{
  display: none;
}

@keyframes animation {
  from{
    transform: translate(0,1000px);
  }
  to{
    transform: translate(0,0);
  }
}
@keyframes shadower {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes horizonal_movement {
  from{
    transform: translate(-1000px,0);
  }
  to{
    transform: translate(0,0);
  }
  
}

@media screen and (max-width:800px){
  body{
    overflow: auto;
  }
  .div_container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section_right{
    width: 100%;
    height: auto;
    display: flex;
  }
  /* Funcionality menu */
  .menu_deployer{
    display: flex;
    transition: .3s;
  }

  .buttons_container_mayor{
    background-color: #fff;
    display: flex;
    position: fixed;
    top: -44%;
    transition: .3s;
    height: 50%;
    justify-content: flex-end;
  }
  .menu_deployed{
    height: 100%;
    transform: translateY(44%);
    z-index: 1001;
    justify-content: space-evenly;
  }
  .deployed{
    transform: rotate(360deg);
  }
  

  .section{
    margin-left: 20px;
  }
  /*Home*/
  .icon_wrapper_2{
    justify-content: center;
  }
  .home_exposer h1{
    font-size: 30pt;
  }
  .home_exposer h3{
    font-size: 15pt;
    text-align: center;
  }
  .desplegated_div{
    height:auto;
  }
  .home_container{
    flex-direction: column;
  }
  .profile_picture{
    height: auto;
    width: 100%;
  }
  /* Technologies  */
.technologies{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  flex-grow: 1;
  background-color: #000;
}

.menu{
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li{
  position: absolute;
  left: 0;
  list-style-type: none;
  transform-origin: 100px;
  transition:0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translate(100px);
  opacity: 0;
}
.menu.active li:hover{
  transform: rotate(calc(360deg / 7 * var(--i))) scale(1.7);
}

.menu.active li{
  transform: rotate(calc(360deg / 7 * var(--i))) scale(1.45);
  opacity: 1;
}
.menu.active li.selected{
  transform: rotate(calc(360deg / 7 * var(--i))) scale(1.55);
}

.menu li a{
  font-size: 15px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transform: rotate(calc(360deg / -7 * var(--i)));
}

.toggle{
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 30px;
  height: 30px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 50%;
  cursor:pointer;
  box-shadow: 0 0 0 2px #000;
  transition: 0.5s;

}

.toggle:hover{
  transform: rotate(360deg) scale(2);
}

.menu.active .toggle{
  transform: rotate(360deg);
  width: 200px;
  height: 200px;
  font-size: 8pt;
}
li.selected{
  transform: scale(2);
}
/* About me */
.about_me{
  width: 95%;
  align-items: center;
  justify-content: center;
}

.about_me img{
  height: 150px;
  width: 200px;
  margin: 10px 0;
}

.desplegated_bar{
  flex-direction: column-reverse;
}
.main_desplegated_content{
  width: 100%;
  text-align: center;
}
.Dreams{
  flex-direction:column;
}

.Actividades{
  width: 100%;
  justify-content: center;
}
.upper_container{
  display: flex;
  flex-direction:column;
}
.upper_container img{
  width: 100%;
}
.main_bar li{
  text-align: center;
}
.Hobbies{
  flex-direction: column;
}
.active p{
  margin: 12px;
}

  /*Studies*/
  .studies{
    display: flex;
    flex-direction: column;
  }
  .studies_container{
    display: flex;
    flex-direction: column;
  }


  /* Experiencia */

  .experience{
    width: 100%;
  }

  .experience ul{
    flex-direction: column;
    text-align: center;
  }

}